* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.meio {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.partedecima {
    margin: 100px 0 32px 0;
    font-size: xx-large;
}

.parceiros {
    border-radius: 10px;
    border: 2px solid black;
}

.footer {
    background-color: lightblue;
    color: black;
    bottom: 0px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-around;
}

.main-content {
    padding: 15px 0 0 0;
}

.meio-box {
    padding: 3% 0 0 0;
}

.ongname {
    font-size: larger;
}

.direitos {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

.nome {
    font-size: large;
}

.box h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.box-list {
    margin: 12px 0 0 0;
}

.box-list {
    list-style: none;
}

@media screen and (max-width: 700px) {

    .main-content {
        margin-bottom: 2%;
    }
    
    .Contatos-box {
        padding-left: 2%;
    }

    .contatos-box {
        padding: 10px 0 0 0;
    }

    .meio-box {
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 12%;
    }

    .Desenvolvido-box {
        padding-left: 2%;
    }
    
}

@media screen and (max-width: 600px) {


    .parceiros {
        margin-top: 5%;
    }

    .Contatos-box {
        padding-left: 2%;
    }

    .contatos-box {
        padding: 10px 0 0 0;
    }

    .meio-box {
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 12%;
    }

    .Desenvolvido-box {
        padding-left: 2%;
    }

    .nome {
        padding: 10px 7px 0 7px;
        margin: 0 0 7px 0;
        font-size: medium;
    }

}

@media screen and (max-width: 550px) {

    .meio {
        border: 2px black solid;
    }

    .main-content {
        display: block;
    }

    .ongname {
        font-size: medium;
    }

    .meio-box {
        margin: 4% 1.5% 2% 1.5%;
        padding: 0%;
    }

}
