.SectionsQuemSomos {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.ContainerImg {
    width: 18%;
    min-width: 200px;
    height: 63%;

    background-color: #E9F2F9;
    border-radius: 15px;
}

.ContainerImg img {
    width: 100%;
    height: 100%;

}

.ContainerMid {
    width: 30%;
    min-width: 300px;
    height: 65%;

    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ContainerQuemSomos {
    width: 100%;
    height: 70%;

    padding: 5px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: #E9F2F9;
    border-radius: 15px;
}

.ContainerQuemSomos h1 {
    margin-bottom: 20px;
}

.ContainerButtonSaibaMais button {
    width: 150px;
    height: 40px;
    padding: 5px 20px;

    border-radius: 15px;

    font-weight: bolder;
    font-size: 13px;
    
    color: #3A89C9;
    background-color: #E9F2F9;

    outline: none;
    border: solid 2px #3A89C9;

    box-shadow: 2px 2px 5px #566075da;

    cursor: pointer;
    
    transition: all 0.3s;
}

.ContainerButtonSaibaMais button:hover {
    color: #E9F2F9;
    background-color: #3A89C9;

    box-shadow: none;
    border: solid 2px #3A89C9;

    transition: all 0.3s;
}

.ContainerButtonSaibaMais button:active {
    background-color: #3A89C9;

    box-shadow: none;
    border: solid 2px #3A89C9;

    box-shadow: 0px 0px 0px 3px #c3e4fe;

    transition: all 0.1s;
}

.ContainerServicos {
    width: 15%;
    min-width: 200px;
    height: 60%;

    margin: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px 10px;

    background-color: #E9F2F9;
    border-radius: 15px;
}

.ContainerList {
    width: 15%;
    min-width: 200px;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 50%;
}

@media (max-width: 930px) {
    .ContainerImg {
        display: none;
    }
}

@media (max-width: 660px) {
    .SectionsQuemSomos {
        flex-direction: row-reverse;
    }
}