* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.Form {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Form .HeaderForm {
    padding: 4px;
    border-bottom: solid 2px black;
}

.Form .HeaderForm h1 {
    
}

.Form .ContainerForm {
    width: 600px;
    height: 350px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #9CC4E4;

    border-radius: 10px;

    box-shadow: 2px 2px 10px #00000070;
}

.Form .ContainerForm .ContainerInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 85%;
    height: 80%;

    margin-top: 30px;
} 

.Form .ContainerForm .ContainerInputForm input {
    padding: 9px;
    width: 90%;

    margin-bottom: 20px;

    z-index: 1;

    color: #303642;

    font-size: 11px;
    font-weight: bold;

    background-color: #E9F2F9;

    outline: none;
    border: solid 2px #3A89C9;
    border-radius: 10px;

    box-shadow: 4px 4px 6px #566075dc;
    
    transition: all 0.3s;
}

.Form .ContainerForm .ContainerInputForm input:hover {
    box-shadow: none;

    transition: all 0.3s;
}

.Form .ContainerForm .ContainerInputForm input:focus {
    box-shadow: none;

    transition: all 0.3s;
}

.Form .ContainerForm .ContainerInputForm input:focus::placeholder {
    font-size: 9px;

    transition: all 0.2s;
}

.Form .ContainerForm .ContainerInputForm .ContainerImgForm {
    width: 85%;

    display: flex;
    justify-content: end;
}

.Form .ContainerForm .ContainerInputForm .ContainerImgForm img {
    width: 15px;
    height: 15px;

    margin-top: -39px;

    cursor: pointer;
}

.Form .ContainerForm .ContainerButtonForm {
    width: 80%;
    margin-bottom: 30px;
}

.ContainerList {
    width: 90%;
    height: 30px;

    margin-top: -10px;
    margin-bottom: 10px;

    flex: 1;

    z-index: 1;
}

.ListScroll {
    min-height: 35px;
    max-height: 263px;

    overflow-y: hidden;

    border-radius: 10px;
}

.ContainerSelect {
    padding: 9px;
    width: 95%;

    color: #303642;

    text-align: center;

    font-size: 13px;
    font-weight: bold;

    background-color: #E9F2F9;

    outline: none;
    border: solid 2px rgba(114, 114, 114, 0.802);
    border-radius: 10px;
}



.Form .ContainerForm .ContainerButtonForm button {
    width: 100px;
    height: 35px;
    padding: 5px 20px;

    border-radius: 15px;

    font-weight: bolder;
    font-size: 13px;
    
    color: #3A89C9;
    background-color: #E9F2F9;

    outline: none;
    border: solid 2px #3A89C9;

    box-shadow: 2px 2px 5px #566075da;

    cursor: pointer;
    
    transition: all 0.3s;
}

.Form .ContainerForm .ContainerButtonForm button:hover {
    color: #E9F2F9;
    background-color: #3A89C9;

    box-shadow: none;
    border: solid 2px #3A89C9;

    transition: all 0.3s;
}

.Form .ContainerForm .ContainerButtonForm button:active {
    background-color: #3A89C9;

    box-shadow: none;
    border: solid 2px #3A89C9;

    box-shadow: 0px 0px 0px 3px #c3e4fe;

    transition: all 0.1s;
}